<div class="card col-md-8 offset-md-2 mt-5">
  <h4 class="card-header row d-flex justify-content-between">
    <p>Notes</p>
    <button type="button" (click)="openModal(content)" class="btn btn-primary">
      Add Notes
    </button>
  </h4>
  <div class="card-body">
    <div *ngFor="let note of notesArr; let i = index">
      <span class="row d-flex justify-content-between mb-1">
        <p>{{ note.notes }}</p>
        <button
          type="button"
          (click)="openModal(content, note.notes, note.id)"
          class="btn btn-primary"
        >
          Edit
        </button>
      </span>
      <hr />
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      X
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <div class="form-group">
        <label for="message-text" class="col-form-label">Notes:</label>
        <textarea
          class="form-control"
          [(ngModel)]="noteForm"
          id="message-text"
          [ngClass]="{ 'is-invalid': !noteForm }"
        ></textarea>
        <div *ngIf="!noteForm" class="invalid-feedback">
          <div *ngIf="!noteForm">Notes is required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="submitNotes()">
      Save
    </button>
  </div>
</ng-template>
